In [1]:
import pandas as pd

In [2]:
primary = pd.read_csv('https://github.com/myziny/pandas-data/raw/master/primary_results.csv')

In [3]:
candidate_to_votes_s = primary.groupby('candidate')['votes'].sum().sort_values() # 후보자별 득표 수 & sort

In [5]:
primary.dtypes

state                  object
state_abbreviation     object
county                 object
fips                    int64
party                  object
candidate              object
votes                   int64
fraction_votes        float64
dtype: object

In [6]:
primary.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005,Democrat,Bernie Sanders,222,0.078

In [23]:
candidate_to_votes_s = primary.groupby('state')['votes'].sum().sort_values(ascending=False) # 후보자별 득표 수 & sort

In [24]:
candidate_to_votes_s

state
California        4938197
Texas             4147889
Florida           3940929
Illinois          3372537
Ohio              3204172
Pennsylvania      3176340
New York          2686539
Michigan          2431111
North Carolina    2185747
Wisconsin         2073402
Georgia           2032941
Massachusetts     1813320
Virginia          1791672
Indiana           1719291
Missouri          1531672
New Jersey        1321220
Maryland          1233272
Alabama           1223959
Tennessee         1200576
South Carolina    1105408
Oregon             933975
Arizona            834200
Oklahoma           766123
Kentucky           648885
Mississippi        614200
Arkansas           605971
Louisiana          585781
Washington         537150
Connecticut        531302
New Hampshire      525966
West Virginia      398352
Iowa               326704
New Mexico         309532
Montana            257516
Utah               254203
Idaho              238989
Nebraska           213691
Vermont            192960
Rhode Island       179594
Delaware           160416
Colorado           121184
South Dakota       119881
Kansas             111296
Nevada              86815
Hawaii              46886
Alaska              22469
Maine                3415
Wyoming              1183
North Dakota          354
Name: votes, dtype: int64

In [25]:
countries = pd.read_csv('https://github.com/myziny/pandas-data/raw/master/countries.csv')

In [26]:
countries.head()

    Country  Region
0   Algeria  AFRICA
1    Angola  AFRICA
2     Benin  AFRICA
3  Botswana  AFRICA
4   Burkina  AFRICA

In [27]:
countries.dtypes

Country    object
Region     object
dtype: object

In [ ]:
!conda install requests

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.5
  latest version: 4.5.8

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /home/pious/miniconda3/envs/pandas

  added / updated specs:
    - requests


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    requests-2.19.1            |           py36_0          96 KB
    pyopenssl-18.0.0           |           py36_0          82 KB
    asn1crypto-0.24.0          |           py36_0         155 KB
    idna-2.7                   |           py36_0         132 KB
    urllib3-1.23               |           py36_0         152 KB
    ------------------------------------------------------------
                                           Total:         617 KB

The following NEW packages will be INSTALLED:

    asn1crypto:   0.24.0-py36_0
    cffi:         1.11.5-py36h9745a5d_0
    chardet:      3.0.4-py36h0f667ec_1
    cryptography: 2.2.2-py36h14c3975_0
    idna:         2.7-py36_0
    pycparser:    2.18-py36hf9f622e_1
    pyopenssl:    18.0.0-py36_0
    pysocks:      1.6.8-py36_0
    requests:     2.19.1-py36_0
    urllib3:      1.23-py36_0

Proceed ([y]/n)?

In [ ]:
y